@import "tailwindcss";
@import "swiper/css/bundle";

body {
  background: #143e46;
  /* background: #31cfeebb; */
}

.banner1 {
  left: 0;
}
.banner2 {
  right: 0;
}
.banner3 {
  left: 19.5%;
}
.banner4 {
  left: 60.5%;
}
.banner5 {
  left: 40%;
  right: 40%;
  transform: scaleX(1.1);
}

.banner1,
.banner2,
.banner3,
.banner4,
.banner5 {
  filter: grayscale(1);
  opacity: 0.1;
  position: fixed;
  top: 0;
  width: 20%;
  z-index: -1;
}

.carousel-mask {
  -webkit-mask-image:
    linear-gradient(
      to right,
      transparent 2%,
      black 7%,
      black 85%,
      transparent 98%
    ),
    linear-gradient(to top, transparent 2%, black 25%);

  mask-image:
    linear-gradient(
      to right,
      transparent 2%,
      black 7%,
      black 85%,
      transparent 98%
    ),
    linear-gradient(to top, transparent 2%, black 25%);

  -webkit-mask-composite: source-in;
  mask-composite: intersect;
}

/* .container-mask {
  -webkit-mask-image:
    linear-gradient(
      to right,
      transparent 0.1%,
      black 1%,
      black 99%,
      transparent 99.9%
    );
  mask-image:
    linear-gradient(
      to right,
      transparent 0.1%,
      black 1%,
      black 99%,
      transparent 99.9%
    );
} */

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #143e46;
}

::-webkit-scrollbar-thumb {
  background-color: #0c88c2;
  border-radius: 999px;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #0c88c2 #143e46;
}

.dropdown-enter-active,
.dropdown-leave-active {
  transition: all 0.6s ease;
}

.dropdown-enter-from,
.dropdown-leave-to {
  max-height: 0;
  opacity: 0;
}

.dropdown-enter-to,
.dropdown-leave-from {
  max-height: 1000px;
  opacity: 1;
}

@keyframes shimmer {
  0% {
    background-position: -400% 0;
  }
  100% {
    background-position: 400% 0;
  }
}

.skeleton1 {
  animation: shimmer 6s linear infinite;
  background: linear-gradient(
    90deg,
    #2e0c69 0%,
    #452a74 35%,
    #6032ac 50%,
    #452a74 65%,
    #2e0c69 100%
  );
  background-size: 400% 100%;
}
.skeleton2 {
  animation: shimmer 6s linear infinite reverse;
  background: linear-gradient(
    90deg,
    #092549 0%,
    #1f3b55 35%,
    #144866 50%,
    #1f3b55 65%,
    #092549 100%
  );
  background-size: 400% 100%;
}
.skeleton3 {
  animation: shimmer 6s linear infinite;
  background: linear-gradient(
    90deg,
    #0c3469 0%,
    #2d5172 35%,
    #205a7c 50%,
    #2d5172 65%,
    #0c3469 100%
  );
  background-size: 400% 100%;
}
